.global-section {
    text-align: center;
    background-color: #7f8ca3;
    height: 130px;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.global-section a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}


.navbar-brand {
            font-weight: bold;
        }
        .container {
            min-height: 80vh;
        }
        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            margin-top: 40px;
            text-align: center;
        }