.hero-section {
    text-align: center;
    padding: 6px 3px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border-radius: 3px;
}

.hero-section h1 {
    font-size: 17px;
    color: #333;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 15px;
    color: #666;
}

